<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>TRANSLATE</h1>
    <form action="../index.html">
      <button>volver</button>
    </form>
  </header>
  <main>
      <!--create register  -->
      <aside id="form">
        <select name="" id="create-word" >
          <option value="animals">Animals - Animales</option>
          <option value="fruits">Fruits - Frutas</option>
          <option value="colors">Colors - Colores</option>
          <option value="descriptions">Descriptions - Descripciones</option>
          <option value="skills">Skills - Habilidades</option>
          <option value="verbs">Verbs - Verbos</option>
        </select>
        <h4>palabra español</h4>
        <input id="form-Spanish" type="text" placeholder="ingrese la palabra que desea" >
        <h4>palabra ingles</h4>
        <input id="form-English" type="text" placeholder="traduccion de la palabra" >
        <h4>ejemplo</h4>
        <input id="form-Example" type="text" placeholder="escribe el ejemplo de tu palabra">
        <button id="form-btn"> Agregar </button>
      </aside>
    </main>
  <footer></footer>
  <script type="module" src="../script/form.js"></script>
  <script type="module" src="../script/dictionary.js"></script>
</body>
</html>